- var text = 'text text text';
- var menuValues = ['Home', 'About us', 'Catalog', 'Contacts'];


header.header
    if text 
        p #{text}
    else
        p Header header
    nav.nav
        ul
            each item in menuValues
                li #{item}