extends base

block content
    include header
    .blok Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Рукопись запятой, за речью продолжил, буквенных переписали там свое грустный вскоре агентство единственное, по всей lorem курсивных ему вопрос назад его родного пояс! Что домах это грамматики? Строчка вопрос его возвращайся буквоград дороге, семь, щеке свой приставка над подпоясал, океана меня!
    ul
     li sdfsdssd